@import ../styles/_colors

.details-container
  display: grid
  grid-template-rows: 80px 600px 400px 600px
  padding-top: 50px
  color: $dark-blue
  h3
    text-align: center
    font-size: 50px
  h4
    font-size: 20px
    margin: 20px 0
  p
    font-size: 16px
    line-height: 25px
    div
      width: 50%
      padding: 8%
  .design
    display: flex
    flex-direction: row
    height: 100%
    .design-details
      display: flex
      flex-direction: column
      justify-content: center
      width: 50%
      padding: 70px 100px
    .design-image
      width: 50%
      background: url('../../images/illustration-editor-desktop.svg')
      background-size: cover
      background-repeat: no-repeat
    .desktop-image
      width: 50%
      background: url('../../images/illustration-editor-desktop.svg')
      background-size: cover
      background-position: left top
      background-repeat: no-repeat
      margin: 30px 0
      color: $white
  .state_art
    background: url('../../images/bg-pattern-circles.svg') no-repeat, linear-gradient(to right, $dark, $dark-blue)
    background-position: -60%
    display: flex
    flex-direction: row
    background-color: $dark-blue
    color: $white
    border-top-right-radius: 90px
    border-bottom-left-radius: 90px
    .state_art-image
      padding-left: 20px
      width: 50%
      display: flex
      align-items: center
    .state_art-details
      display: flex
      flex-direction: column
      justify-content: center
      padding-right: 130px
      width: 50%
