@import ../styles/_colors

.top-container
  background: url('../../images/bg-pattern-intro.svg'), linear-gradient(to right, $pink, $dark-pink)
  background-position: 20% 50%
  color: $white
  border-bottom-left-radius: 90px