@import ../styles/_colors

.footer-container
  background-color: $dark
  border-top-right-radius: 90px
  color: $light
  display: flex
  height: 10rem
  padding: 60px
  div
    display: flex
    flex-direction: column
    width: 25%
    strong
      padding-bottom: 10px
    a
      color: $light
      text-decoration: none
      padding-bottom: 5px
      &:hover
        text-decoration: underline
        cursor: pointer
  

